{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block body %}
<div class="container">
<br>
<h1>ABOUT ME</h1>
	<hr><br>
	<div class="row">
		<div class="col col-md-12">
			<div class="text-justify" align="justify">
			Cellphones is a website that sells technology devices. On this website, customers can find laptops, smartphones, or accessories.
			</div>
			<div class="text-justify" align="justify">
			Founded in 2022 by the ABCxyz team, Cellphones has come a long way from their beginnings in a home office. When the ABCxyz team first started, his passion for providing the best technology devices for users drove him to do intense research and quit his day job, and gave him the impetus to turn hard work and inspiration into a booming online store. We now serve customers all over Vietnam and are thrilled to be the wing of the technological industry.
			</div>
			<div class="text-justify">
			We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
			</div>
			<div class="text-justify">
			Sincerely, ABCxyz, Founder.<br><br>
			</div>
		</div>
	</div>
	<h3 class="text-left">CONTACT US</h3>
	<div class="row">
		<div class="col col-md-12">
			<div class="text-justify">
				Email: cellphones@gmail.com
			</div>
			<div class="text-justify">
				Hotline: 0283729173
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col col-md-12" align="justify">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15715.757686328689!2d105.76224687797769!3d10.021857915737876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08826a6887bdb%3A0x698ffa46393f9f6d!2zQ-G7rWEgSMOgbmcgVOG6oXAgSMOzYSBN4bu5IEhp4buBbg!5e0!3m2!1svi!2s!4v1639177772789!5m2!1svi!2s" width="1120" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
	<br></br> 
</div>
{% endblock %}
