{% extends 'baseadmin.html.twig' %}

{% block title %}Edit category - Admin site{% endblock %}

{% block body %}
<h1>CATEGORY INFORMATION</h1>
<hr></hr>
<h3>EDIT CATEGORY</h3>
<br></br>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}