{% extends 'baseadmin.html.twig' %}

{% block title %}Register account - Admin site{% endblock %}

{% block body %}
<h1>ACCOUNT INFORMATION</h1>
<hr></hr>
<h3>REGISTER ACCOUNT</h3>
<br></br>
    {{ include('user1/_form.html.twig') }}

{% endblock %}
